APP_URL=http://localhost:3000
APP_PORT=5000
APP_ENV=production

# MongoDB localhost URI
MONGODB_HOST=localhost
MONGODB_PORT=27017
MONGODB_NAME=test

# MongoDB Remote server URI
MONGODB_USER_NAME=shonjoy
MONGODB_PASSWORD=password
MONGODB_DATABASE_NAME=test

# jwt authentication token configuration
JWT_ACTIVATION_TOKEN=WP\&7,Xu_G~uW+}bWc/D89ddKe6fE~8]NNS$gZ8)(2Pu7(>(zS
JWT_ACTIVATION_TOKEN_EXPIRE=5m
JWT_ACCESS_TOKEN=ya29.a0ARrdaM-aGEjm1t06d7x1nvHBH8oxdMdzeMUKI0MaphZs_Sx21xxbHIKdoAy2OatHOcY9gGxuEPv12xNUV8DzhBsZH5TeLf3H0WvbD34qrQcvk8sjzyn7XfudkLHZgKCWiiYikz5NxescjdCja4ZPFWSVfXZ0
JWT_ACCESS_TOKEN_EXPIRE=15m
JWT_REFRESH_TOKEN=1//04svxyjQcOehnCgYIARAAGAQSNwF-L9IrzxW1xloo0PAkiwQmr3-4mC0sYh1XNxxZkJnOH5kd-MdmhybrhQnr6HYuEKkYUJS-3k4
JWT_REFRESH_TOKEN_EXPIRE=7d

# OAuth2 authentication token configuration
MAIL_SEND_CLIENT_ID=681924143350-vhkoa71djsfegjrj21a83g7uh75dp2ia.apps.googleusercontent.com
MAIL_SEND_CLIENT_SECRET=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
MAIL_REFRESH_TOKEN=1//04dw10MQ_a-o0CgYIARAAGAQSNwF-L9IrlqIC_H7ApnmrQSZns64RHoXQJvwLIw5bb7pbjds9pFH9kwonvGTOADqUfagL0MZprbg
EMAIL_ADDRESS=rsshonjoydas371819@gmail.com