{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "no-unused-vars": "warn",
    "no-underscore-dangle": "off",
    "no-console": "off",
    "func-names": "off",
    "prefer-const" : "off",
    "no-param-reassign": "off",
    "no-return-await": "off",
    "max-classes-per-file": "off",
    "class-methods-use-this": "off",
    "import/prefer-default-export": "off"
  }
}